body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

h1 {
    text-align: center;
}

.main-container {
    background-color: #1f1f1f;
    max-width: 40%;
    margin: 1em auto;
    min-height: fit-content;
}

#computer-choice,
#player-choice {
    background-color: peachpuff;
    color: red;
}

#computer-score,
#player-score {
    color: white;
}

#results {
    background-color: crimson;
    color: white;
}

#computer-choice,
#player-choice,
#results,
#computer-score,
#player-score {
    min-height: 1.5em;
    padding: .5em 1em;
    font-size: 1rem;
    text-align: center;
    /*display: none;*/
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgoldenrod;
    padding: 1em 0;
}

button {
    background-color: cornflowerblue;
    color: white;
    width: 6em;
    padding: .5em 1em;
    border: 0;
    border-radius: 6px;
    font-size: 1em;
    font-weight: 700;
}

p {
    padding: 1em;
    color: white;
    font-size: 2em;
}